/* 
Fonts - start
-------------
*/

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto-v20-latin-cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v20-latin-cyrillic-regular.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/roboto-v20-latin-cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v20-latin-cyrillic-500.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    src: local("Roboto Black"), local("Roboto-Black"), url("../fonts/roboto-v20-latin-cyrillic-900.woff2") format("woff2"), url("../fonts/roboto-v20-latin-cyrillic-900.woff") format("woff");
}


/*
Fonts - end
-----------
*/


/*
Variables - start
-----------------
*/

:root {
    --basic-white: #FFFFFF;
    --basic-white-dark: #E1E1E1;
    --basic-white-extra-dark: #EEEEEE;
    --basic-black: #000000;
    --basick-black-light: #283136;
    --basic-black-extra-light: #444444;
    --basic-grey-dark: #4D4D4D;
    --basic-grey: #666666;
    --basic-grey-light: #D5D5D5;
    --basic-grey-extra-light: #DFDFDF;
    --basic-red: #FB565A;
    --basic-red-dark: #E74246;
    --basic-red-extra-dark: #D7373B;
    --basic-green: #00CA74;
    --basic-green-dark: #00BC6C;
    --basic-green-extra-dark: #00AA62;
    --basic-yellow: #EFC84A;
    --basic-yellow-dark: #EAB534;
    --basic-yellow-extra-dark: #E5A722;
    --input-grey: #D7DCDE;
    --input-grey-dark: #B4B9BB;
    --toggle-grey-border: #C1C1C1;
    --toggle-grey: #ABABAB;
    --toggle-shadow: #CFCFCF;
    --order-sorting-grey: #A6A6A6;
    --order-sorting-black: #231F20;
    --button-shadow: rgba(0, 1, 1, 0.1);
    --pages-border-grey: #DBDBDB;
    --transparent-white: rgba(255, 255, 255, 0.3);
    --transparent-black: rgba(0, 0, 0, 0.3);
    --img-border-transparent-black: rgba(0, 0, 0, 0.1);
    --img-shadow-transparent-black: rgba(0, 1, 1, 0.25)
}


/*
Variables - end
---------------
*/


/*
Global - start
--------------
*/

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
    font-family: "Roboto", Arial, sans-serif;
    color: var(--basic-black);
    font-size: 16px;
    line-height: 24px;
    background-color: var(--basic-white);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}


/*
Global - end
------------
*/


/*BUTTON*/

.button {
    display: inline-block;
    vertical-align: middle;
    color: var(--basic-white);
    background-color: var(--basic-red);
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    vertical-align: top;
    border-radius: 3px;
    cursor: pointer;
}

.button:hover,
.button:focus {
    background-color: var(--basic-red-dark);
    outline: none;
}

.button:active {
    color: var(--transparent-white);
    background-color: var(--basic-red-extra-dark);
    box-shadow: inset 0 3px 0 0 var(--button-shadow);
}


/*BUTTON*/


/*
Header - start
--------------
*/

.page-header {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    background-color: var(--basic-white-extra-dark);
}

.container {
    width: 1160px;
    margin: 0 auto;
}


/*navigation - start*/

.navigation {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    text-transform: uppercase;
    margin-top: 49px;
}

.navigation__logo {
    width: 160px;
    height: 65px;
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    max-width: 440px;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-left: 202px;
}

.user-navigation {
    position: relative;
    padding-left: 40px;
    margin-left: auto;
}

.user-navigation::before {
    content: '';
    position: absolute;
    background-image: url(../img/cart-icon.svg);
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    top: 7px;
    left: 0;
}

.site-navigation,
.user-navigation {
    padding-bottom: 12px;
    margin-top: 25px;
}

.site-navigation__item:nth-child(4n+2),
.site-navigation__item:nth-child(4n+4) {
    margin-left: 44px;
}

.site-navigation__item:nth-child(4n+3) {
    margin-left: 48px;
}

.site-navigation a,
.user-navigation a {
    color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
    color: var(--basic-red);
    outline: none;
}

.site-navigation a:active,
.user-navigation a:active {
    color: var(--basic-black);
    opacity: 0.3;
}

.site-navigation__link {
    padding-bottom: 20px;
}

.site-navigation__link--active {
    border-bottom: 2px solid var(--basic-red);
}


/*navigation - end*/


/*slider-start*/

.slider {
    position: relative;
}

.slider__list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.slider__item {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    background-repeat: no-repeat;
    background-position: top right;
    padding-bottom: 80px;
}

.slide-1 {
    background-image: url(../img/nerds-index-slide1.png);
}

.slide-2 {
    background-image: url(../img/nerds-index-slide2.png);
}

.slide-3 {
    background-image: url(../img/nerds-index-slide3.png);
}

.slide__title {
    display: inline-block;
    vertical-align: middle;
    font-size: 55px;
    line-height: 55px;
    max-width: 538px;
    margin: 0;
    margin-top: 75px;
}

.slide__paragraph {
    display: inline-block;
    vertical-align: middle;
    color: var(--basick-black-light);
    max-width: 420px;
    margin: 0;
    padding: 0;
    margin-top: 25px;
}

.slide__button {
    padding: 10px 54px;
    margin-top: 30px;
}

.slider__controls {
    position: absolute;
    bottom: 95px;
    left: 535px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 88px;
}

.slider__controls label {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    background-color: var(--basic-white);
    border-radius: 50%;
    cursor: pointer;
}

.button-slide-1:checked~.slider__controls label[for="slide-1"]::before,
.button-slide-2:checked~.slider__controls label[for="slide-2"]::before,
.button-slide-3:checked~.slider__controls label[for="slide-3"]::before {
    content: "";
    position: absolute;
    top: calc(50% - 4px);
    left: calc(50% - 4px);
    width: 4px;
    height: 4px;
    border: 2px solid var(--toggle-grey-border);
    border-radius: 50%;
}

.button-slide-1:checked~.slider__list .slide-1,
.button-slide-2:checked~.slider__list .slide-2,
.button-slide-3:checked~.slider__list .slide-3 {
    display: flex;
}


/*slider-end*/

.header-title {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    text-align: center;
    margin-top: 76px;
    margin-bottom: 108px;
}


/*
Header - end
--------------
*/


/*
Main - start
------------
*/


/*Production-start*/

.production {
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 2px solid var(--basic-white-extra-dark);
}

.production__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 40px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.production__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 300px;
}

.production__image {
    display: block;
    width: 300px;
    height: 146px;
}

.production__title {
    display: inline-block;
    vertical-align: middle;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    max-width: 100%;
    margin: 0;
    margin-top: 25px;
}

.production__paragraph {
    display: inline-block;
    vertical-align: middle;
    max-width: 260px;
    margin: 0;
    margin-top: 16px;
    color: var(--basick-black-light);
}

.production__button {
    padding: 15px 40px;
    margin-top: 32px;
}

.production__button--green {
    background-color: var(--basic-green);
}

.production__button--green:hover,
.production__button--green:focus {
    background-color: var(--basic-green-dark);
}

.production__button--green:active {
    color: var(--transparent-white);
    background-color: var(--basic-green-extra-dark);
}

.production__button--yellow {
    background-color: var(--basic-yellow);
}

.production__button--yellow:hover,
.production__button--yellow:focus {
    background-color: var(--basic-yellow-dark);
}

.production__button--yellow:active {
    color: var(--transparent-white);
    background-color: var(--basic-yellow-extra-dark);
}


/*Production-end*/


/*About-start*/

.about {
    display: grid;
    grid-template-columns: auto 1fr;
    padding-top: 39px;
    padding-bottom: 68px;
    border-bottom: 2px solid var(--basic-white-extra-dark);
}


/*information*/

.information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 650px;
}

.information__title {
    display: inline-block;
    vertical-align: middle;
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    margin: 0;
    margin-top: 34px;
}

.information__paragraph {
    color: var(--basick-black-light);
    margin: 0;
    margin-top: 32px;
}

.information__list-title {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    max-width: 400px;
    margin: 0;
    margin-top: 40px;
}

.information__list {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-top: 23px;
}

.information__item {
    position: relative;
    padding-left: 36px;
    margin-top: 24px;
}

.information__item:first-child {
    margin: 0;
}

.information__item::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 25px;
    background-color: var(--basic-red);
    left: 0;
    top: calc(50% - 1px)
}


/*statictics*/

.statistics {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 360px;
    margin-left: auto;
}

.statistics__image {
    display: block;
    width: 360px;
    height: 208px;
}

.statistics__title {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    margin-top: 35px;
}

.statistics__list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-top: 32px;
}

.statistics__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.statistics__number {
    display: inline-block;
    vertical-align: middle;
    font-size: 45px;
    line-height: 64px;
    font-weight: 700;
    max-width: 100px;
    margin: 0;
}

.statistics__number .statistics__percent {
    display: inline-block;
    vertical-align: middle;
    font-size: 26px;
    line-height: 40px;
    font-weight: 700;
}

.statistics__text {
    display: inline-block;
    vertical-align: middle;
    max-width: 135px;
    margin: 0;
    margin-top: 5px;
    color: var(--basick-black-light);
}


/*About-end*/


/*partners-start*/

.partners {
    padding-top: 45px;
    padding-bottom: 40px;
    border-bottom: 2px solid var(--basic-white-extra-dark);
}

.partners__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    padding: 0 32px;
    list-style: none;
}

.partners__item {
    position: relative;
}

.partners__item:first-child {
    padding-top: 10px;
}

.partners__item:nth-child(4n+4) {
    margin-right: 10px;
}

.partners__item:nth-child(4n+3) {
    margin-right: 20px;
}

.partners__item:nth-child(4n+2) {
    margin-right: 5px;
}

.partners__item::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 52px;
    top: 0;
    right: -50px;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    background-color: var(--basic-white-extra-dark);
}

.partners__item:last-child::after {
    width: 0;
    height: 0;
}

.partners__item:nth-child(4n+2)::after {
    right: -43px;
}

.partners__item:nth-child(4n+3)::after {
    right: -55px;
}

.partners__item a {
    opacity: 0.2;
}

.partners__item a:hover,
.partners__item a:focus {
    opacity: 1;
    outline: none;
}

.partners__item a:active {
    opacity: 0.1;
}


/*partners-end*/


/*map-wrapper-start*/

.map-wrapper {
    position: relative;
    min-width: 1440px;
    width: 100%;
    height: 416px;
    background-image: url(../img/map.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-top: 80px;
}

.map-wrapper iframe {
    width: 100%;
    height: 416px;
    border: 0;
}


/*map-wrapper-end*/


/*Contacts-start*/

.contacts {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 54px;
    left: 180px;
    background-color: var(--basic-white);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 49px;
    padding-bottom: 47px;
}

.contacts__name {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}

.contacts__address,
.contacts__phone,
.contacts__phone a {
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-grey);
}

.contacts__address {
    max-width: 205px;
    margin: 0;
    margin-top: 21px;
}

.contacts__phone {
    margin-top: 20px;
}

.contacts__phone a:hover,
.contacts__phone a:focus {
    color: var(--basic-red);
    outline: none;
}

.contacts__phone a:active {
    opacity: 0.3;
}

.contacts__button {
    margin-top: 38px;
    padding: 13px 44px;
}


/*Contacts-end*/


/*=====CATALOG=====*/

.catalog-main {
    display: grid;
    grid-template-columns: 1fr auto;
    margin-top: 60px;
}


/*Filter-start
    -------------
    */

.filter {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 260px;
}

.filter__item {
    margin: 0;
    padding: 0;
    border: none;
}

.filter__item legend {
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 700;
}


/*range-filter*/

.range-filter {
    width: 260px;
    margin-top: 50px;
}

.range-controls {
    position: relative;
    height: 41px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: var(--basic-white-extra-dark);
    border-radius: 5px;
    margin-bottom: 15px;
}

.range-controls .scale {
    height: 2px;
    background: var(--input-grey);
}

.range-controls .bar {
    width: 70%;
    height: 2px;
    background: var(--basic-green);
}

.range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid var(--basic-white);
    background-color: var(--toggle-grey);
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 var(--toggle-shadow);
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 18px;
}

.range-controls .toggle-max {
    left: 160px;
}

.range-controls .toggle-min:focus,
.range-controls .toggle-max:focus {
    outline: none;
}

.price-controls {
    display: flex;
    justify-content: space-between;
}

.price-controls label {
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
}

.price-controls input {
    width: 60px;
    padding: 10px;
    margin-left: 10px;
    text-align: center;
    color: var(--basick-black-light);
    border: none;
    border-radius: 5px;
    background: var(--basic-white-extra-dark);
    font-family: inherit;
    font-size: inherit;
}


/*range-filter*/


/*filter-grid*/

.filter-grid {
    margin-top: 55px;
}

.grid__list {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-top: 15px;
}

.grid__item {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    color: var(--basick-black-light);
    max-width: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 37px;
    margin-bottom: 12px;
}

.grid__item:last-child {
    margin: 0;
}

.grid__item label {
    display: block;
    cursor: pointer;
}

.grid__item input[type="radio"]+label::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
    background-image: url("../img/radio-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.4;
    cursor: pointer;
}

.grid__item input[type="radio"]:checked+label::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
    background-image: url("../img/radio-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.4;
    cursor: pointer;
}

.grid__item input[type="radio"]:hover+label::before,
.grid__item input[type="radio"]:focus+label::before {
    opacity: 1;
}

.grid__item input[type="radio"]:disabled+label::before {
    opacity: 0.1;
}

.grid__item input[type="radio"]:disabled+label {
    opacity: 0.3;
}


/*filter-grid*/


/*filter-features*/

.filter-features {
    margin-top: 45px;
}

.features__list {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-top: 16px;
}

.features__item label {
    position: relative;
    padding-left: 37px;
}

.features__item {
    margin-bottom: 16px;
}

.features__item:last-child {
    margin: 0;
}

.features__item label {
    display: block;
    cursor: pointer;
}

.features__item input[type="checkbox"]+label::before {
    content: "";
    position: absolute;
    width: 26px;
    height: 23px;
    top: 0;
    left: 0;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.4;
}

.features__item input[type="checkbox"]:checked+label::before {
    content: "";
    position: absolute;
    width: 27px;
    height: 23px;
    top: 0;
    left: 0;
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.4;
}

.features__item input[type="checkbox"]:hover+label::before,
.features__item input[type="checkbox"]:focus+label::before {
    opacity: 1;
}

.features__item input[type="checkbox"]:disabled+label::before {
    opacity: 0.1;
}

.features__item input[type="checkbox"]:disabled+label {
    opacity: 0.3;
}


/*filter-features*/

.filter__button {
    color: var(--basic-black);
    background-color: var(--basic-white-extra-dark);
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    border: none;
    margin-top: 50px;
}

.filter__button:hover,
.filter__button:focus {
    background-color: var(--basic-grey-extra-light);
}

.filter__button:active {
    color: var(--transparent-black);
    background-color: var(--basic-grey-light);
}


/*Filter-end
    -------------
    */


/*Templates-start
-----------------
*/

.templates {
    display: grid;
    grid-template-rows: 1fr auto;
    margin-top: -4px;
}


/*sorting*/

.templates-sorting {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.top-sorting {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.top-sorting__title {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.top-sorting__list {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-left: -27px;
    margin-right: 47px;
}

.top-sorting__item {
    margin-left: 27px;
}

.top-sorting__link {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic-black);
    opacity: 0.3;
}

.top-sorting__link:hover,
.top-sorting__link:focus {
    opacity: 0.6;
    outline: none;
}

.top-sorting__link:active {
    opacity: 1;
}

.top-sorting__link--active {
    opacity: 1;
}

.order-sorting {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: -18px;
}

.order-sorting__link {
    margin-left: 18px;
    fill: var(--order-sorting-grey);
    opacity: 0.2;
}

.order-sorting__link:hover,
.order-sorting__link:focus {
    fill: var(--order-sorting-grey);
    opacity: 1;
    outline: none;
}

.order-sorting__link:active {
    fill: var(--order-sorting-black);
}

.order-sorting__link--active {
    fill: var(--order-sorting-black);
    opacity: 1;
}


/*sorting*/

.website__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 42px;
    grid-row-gap: 25px;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-top: 48px;
}

.website__item {
    position: relative;
}

.website__item img {
    width: 358px;
    height: 578px;
    margin-top: 40px;
    border: 1px solid var(--img-border-transparent-black);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.website__item:hover img,
.website__item:focus img {
    box-shadow: 0px 6px 15px var(--img-shadow-transparent-black);
}

.website__item::before {
    content: "";
    position: absolute;
    width: 362px;
    height: 40px;
    background-color: var(--basic-white);
    background-image: url(../img/browser.svg);
    background-repeat: no-repeat;
    opacity: 0.12;
}

.website__item:hover::before {
    opacity: 1;
}

.website__item:hover .website__information {
    display: block;
}

.website__information {
    display: none;
    position: absolute;
    bottom: 5px;
    left: 0;
    background-color: var(--basic-white-extra-dark);
    width: 360px;
    max-height: 100%;
    text-align: center;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.website__name {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--basic-black);
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 27px;
}

.website__about {
    margin: 0;
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-grey);
    margin-top: 12px;
    padding-left: 55px;
    padding-right: 55px;
}

.website-button {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 75px;
    padding-right: 75px;
    margin-top: 32px;
    margin-bottom: 45px;
}

.website__name:hover,
.website__name:focus {
    color: var(--basic-red);
}

.website__name:active {
    color: var(--basic-black);
    opacity: 0.3;
}

.website__pages {
    margin-top: 45px;
}

.pages__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-left: -11px;
}

.pages__item {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: var(--basic-white-extra-dark);
    margin-left: 11px;
    cursor: pointer;
}

.pages__item a {
    color: var(--basic-black);
}

.pages__number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 3px;
}

.pages__next {
    padding: 16px 78px;
    border-radius: 3px;
}

.pages__item:hover,
.pages__item:focus {
    background-color: var(--basic-grey-extra-light);
    border: none;
}

.pages__item:active {
    background-color: var(--basic-grey-light);
    box-shadow: inset 0px 3px 0px var(--button-shadow);
}

.pages__item:active a {
    opacity: 0.3;
    border: none;
}

.page--active {
    background-color: var(--basic-white);
    border: 3px solid var(--pages-border-grey);
}


/*Templates-end
-----------------
*/


/*=====CATALOG=====*/


/*
Main - end
----------
*/


/*
Footer - start
--------------
*/

.social {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    padding-top: 65px;
    padding-bottom: 74px;
}

.social__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 139px;
}

.social__title {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    margin: 0;
}

.social__paragraph {
    font-size: 16px;
    line-height: 22px;
    color: var(--basic-black-extra-light);
    margin: 0;
    margin-top: 12px;
}

.social__list {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-left: -9px;
}

.social__item {
    margin-left: 9px;
}

.social__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 81px;
    height: 81px;
    border-radius: 50%;
}

.social__link {
    fill: var(--basic-white);
    background-color: var(--basic-white-dark);
}

.social__link:hover,
.social__link:focus {
    background-color: var(--basic-red-dark);
    outline: none;
}

.social__link:active {
    fill: var(--transparent-white);
    background-color: var(--basic-red-extra-dark);
}


/*
Footer - end
-------------
*/


/*popup-feedback-start*/

.popup-feedback {
    display: none;
    position: fixed;
    top: 60px;
    bottom: auto;
    right: 0;
    left: 0;
    background-color: var(--basic-white);
    width: 760px;
    margin: auto;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 70px;
    padding-bottom: 84px;
}

.popup-feedback--show {
    display: block;
    animation: bounce 0.6s;
}

.popup-feedback--error {
    animation: shake 0.6s;
}

.popup-close {
    position: absolute;
    top: 83px;
    right: 95px;
    width: 21px;
    height: 21px;
    background-color: transparent;
    fill: var(--basic-red);
    fill-opacity: 0.3;
    border: 0;
    cursor: pointer;
}

.popup-close:hover,
.popup-close:focus {
    fill-opacity: 1;
    outline: none;
}

.popup-close:active {
    fill-opacity: 0.1;
}

.feedback__title {
    font-size: 45px;
    line-height: 53px;
    font-weight: 700;
    margin: 0;
}

.addressee {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.addressee__item {
    display: flex;
    flex-direction: column;
}

.addressee__item label,
.feedback__letter label {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
}

.addressee input[type="text"],
.addressee input[type="email"],
.feedback__letter textarea {
    box-sizing: border-box;
    width: 360px;
    font-family: inherit;
    font-size: 16px;
    line-height: 18px;
    color: var(--input-grey);
    border: 2px solid var(--input-grey);
    border-radius: 3px;
    padding: 16px 16px;
    margin-top: 10px;
}

.addressee input[type="text"]::placeholder,
.addressee input[type="email"]::placeholder,
.feedback__letter textarea::placeholder {
    font: inherit;
    color: var(--input-grey);
}

.addressee input[type="text"]:hover,
.addressee input[type="email"]:hover,
.feedback__letter textarea:hover {
    color: var(--input-grey-dark);
    border-color: var(--input-grey-dark);
}

.addressee input[type="text"]:hover::placeholder,
.addressee input[type="email"]:hover::placeholder,
.feedback__letter textarea:hover::placeholder {
    color: var(--input-grey-dark);
}

.addressee input[type="text"]:focus,
.addressee input[type="email"]:focus,
.feedback__letter textarea:focus {
    color: var(--basic-black);
    border-color: var(--basic-black);
}

.addressee input[type="text"]:focus::placeholder,
.addressee input[type="email"]:focus::placeholder,
.feedback__letter textarea:focus::placeholder {
    color: var(--basic-black);
}

.feedback__letter {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.feedback__letter textarea {
    width: 100%;
    resize: none;
    padding-top: 14px;
    padding-bottom: 10px;
}

.feedback-send {
    padding: 16px 84px;
    border: none;
    margin-top: 33px;
}


/*popup-feedback-end*/


/* Animations */

@keyframes bounce {
    0% {
        transform: translateY(-2000px);
    }
    70% {
        transform: translateY(30px);
    }
    90% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes shake {
    0%,
    100% {
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80% {
        transform: translateX(10px);
    }
}